body.dark-mode {
  background-color: #111; /* Dark background */
}

.column.dark-mode h2,
.column.dark-mode p {
  color: #fff; /* White text for headings and paragraphs */
}

.toggle-switch input[type="checkbox"]:checked + .checkbox-label .fa-moon::before {
  opacity: 0;
}
